/*Created 2015-02-28 by RKS*/

@font-face {
    font-family: sen;
    src: url(http://assets.codecloudapp.com/sites/564640e86e6f642e10020000//1438889872000/sen-regular.ttf) format('ttf'),
         url('http://assets.codecloudapp.com/sites/564640e86e6f642e10020000//1435781894000/sen-regular.otf') format('otf');
    
    font-weight: normal
}

@font-face {
    font-family: sen;
    src: url('http://assets.codecloudapp.com/sites/564640e86e6f642e10020000//1438889894000/sen-bold.ttf') format('ttf'),
         url('http://assets.codecloudapp.com/sites/564640e86e6f642e10020000//1435781888000/sen-bold.otf') format('otf');
    font-weight: bold
}


.main_container{
    font-family: sen;
    max-width:1170px;
    border-top:5px solid #19DDC5;
    margin:0 auto;
}

.main_content{
    margin-top:32px;
    margin-bottom:32px;
}

.sc_logo{
    width:327px;
    margin-bottom:40px;
    margin-top: 45px;
}

.sc_img{
    width:616px;
}

.main_caption{
    font-family:sen;
    font-size:20px;
    margin-bottom:42px;
    max-width:420px;
}

.download_app_btn{
    width:140px;
    margin-right:18px;
}


.newsletter_box{
    border:1px solid #19DDC5;
    padding:28px;
    max-width:420px;
    background: #E8FBF9;
    margin-top:42px;
    border-radius:4px;
}

.newsletter_header{
    font-weight:bold;
    font-size: 16px;
    color: #1B2432;
    text-transform:uppercase;
    margin-bottom:20px;
}

.newsletter_desc{
    font-size: 20px;
    color: #1B2432;
    margin-bottom:30px;
}

.newsletter_email{
    border: 1px solid #A9B2BD;
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 12px;
    padding:8px;
    width:225px;
}












