/*Created 2015-02-28 by RKS*/

@font-face {
    font-family: 'sc_sen';
    src: url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/971/original/sen-bold-webfont.eot?1448562362') format('embedded-opentype'),
         url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/972/original/sen-bold-webfont.woff?1448562362') format('woff'),
         url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/973/original/sen-bold-webfont.ttf?1448562362') format('truetype'),
         url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/974/original/sen-bold-webfont.svg?1448562362') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'sc_sen';
    src: url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/967/original/sen-regular-webfont.eot?1448562347') format('embedded-opentype'),
         url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/968/original/sen-regular-webfont.woff?1448562347') format('woff'),
         url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/970/original/sen-regular-webfont.ttf?1448562347') format('truetype'),
         url('http://cdn.mallmaverick.com/system/site_images/photos/000/014/969/original/sen-regular-webfont.svg?1448562347') format('svg');
    font-weight: normal;
}

body{
    font-family: 'sc_sen';
}

.margin_10{
    margin-bottom:10px;
    display:block;
}

#main_header{
    background:#19DDC5;
}

.main_container{
    width:940px;
    margin:0 auto;
}

.header_nav{
    padding:18px 0;
}

.main_logo{
    width:250px;
}

.main_section{
    padding: 80px 0;
}

.how_it_works{
    background-image: url(http://assets.codecloudapp.com/sites/56ccc5a66e6f646cdd000000/image/png/1456416308000/bg_works.png);
    background-position: 0px 30px;
    background-color:#F1F1F1;
    background-repeat:no-repeat;
    height:100vh;
}

.main_nav{
    font-weight:bold;
    margin-left:-20px;
    margin-right:-20px;
    text-align:right;
    a{
        font-size: 16px;
        color: #fff;
        margin: 0 20px;
        margin-top: 15px;
        display: inline-block;
    }
    
}

.main_heading{
    font-weight:bold;
    font-size: 40px;
    color: #8E69D7;
    text-align:center;
    margin-top:0;
    margin-bottom:40px;
}

.desc{
    font-size: 23px;
    color: #4A4A4A;
    max-width:740px;
    line-height: 40px;
    margin-left:auto;
    margin-right:auto;
}




